* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

.csapat_tema h3 {
    font-size: 0.8vw;
    text-align: left;
    margin: auto;
    margin-left: 2vw;
    letter-spacing: 0.36vw;
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 0;
    background-color: blanchedalmond;
    background-color: rgb(94, 168, 100);
    padding-top: 7vw
}

header {
    background-color: rgb(253, 212, 151);
    padding: 1vw 0; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.linkek {
    align-items: center;
    height: 100%;
    line-height: 5vw;
}

.linkek a {
    font-size: 1.5vw;
    margin: 1vw;
    transition: all 0.3s ease-in-out;
}

a {
    font-size: 1.5vw;
    transition: all 0.3s ease-in-out;
}

.linkek a:hover {
    color: white;
    text-decoration: underline;
    font-size: 1.7vw;
}

.cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header img {
    width: 5vw;
    float: right;
    margin-right: 2vw;
}

.csapat_tema h1 {
    margin-top: 0.35vw;
    font-size: 2.16vw;
    padding-left: 2vw;
    vertical-align: middle;
    text-align: left;
}

summary section {
    display: grid;
}

.paratlan {
    grid-template-columns: 1fr 2fr;
}

.paros {
    grid-template-columns: 2fr 1fr;
}

section img {
    border-radius: 2.5vw;
    
}