* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 0;
    background-color: blanchedalmond;
    background-color: rgb(94, 168, 100);
}

header {
    background-color: rgb(253, 212, 151);
    padding: 5vh 5vw 5vh 5vw
}

nav {
    background-color: rgb(185, 149, 95);
    padding: 3vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h1 {
    font-size: 3vw;
}

nav a {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 1vw;
    margin: 0 10vw 0 10vw;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, border-color 0.3 ease-in-out
}

nav a:hover {
    color: rgba(255, 255, 255, 1);
    transform: scale(1.1)
}