* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 0;
    background-color: blanchedalmond;
    background-color: rgb(94, 168, 100);
}

header {
    background-color: rgb(253, 212, 151);
    padding: 5vh 5vw 5vh 5vw
}

nav {
    background-color: rgb(185, 149, 95);
    padding: 3vh;
}

.cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h1 {
    font-size: 4vw;
}

h2 {
    border-radius: 1vw;
    margin: 0 30vw 0 30vw;
    font-size: 2vw;
    text-align: center;
    color: rgb(99, 83, 61);
    transition: all 0.3s ease-in-out;
}

.cont a {
    font-size: 1.5vw;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 1vw;
    color: rgb(185, 149, 95);
    background-color: rgb(253, 212, 151);
    text-decoration: none;
    padding: 10px 0 10px 0;
    margin: 2vw 5vw 0 5vw;
    box-shadow: 5px 10px 15px black;
    transition: all 0.3s ease-in-out;
}

.cont a:hover {
    color: rgb(214, 182, 135);
    transform: scale(1.3);
    border: 2px solid rgb(214, 182, 135);
    background-color: rgb(99, 83, 61);
}

nav:hover h2 {
    font-size: 2.5vw;
    text-align: center;
    color: rgb(255, 255, 255)
}