body {
    margin: auto;
    background-color: burlywood;
}

h2, p, img {
    background-color: rgb(20, 65, 23);
    border: solid 10px rgb(20, 65, 23);
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 5px 10px 5px black;
}

p {
    font-size: 25px;
}

nav h2 {
    background-color: rgba(20, 65, 23, 0);
    border: solid 10px rgba(20, 65, 23, 0);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin: 15px;
}

article{
    background-color: rgb(94, 168, 100);
    padding: 30px;
}

footer {
    background-color: rgb(94, 168, 100);
}

section {
    margin-bottom: 3vw;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.elso {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    'eimg eh2'
    'eimg ep';
    padding-left: 12vw;
    padding-right: 12vw;
    gap: 35px;
}

.elso h2 {
    grid-area: eh2;
}

.elso img {
    grid-area: eimg;
}

.elso p {
    grid-area: ep;
}

.masodik {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    'mh2 mimg'
    'mp mimg';
    gap: 35px;
    padding-left: 12vw;
    padding-right: 12vw;
}

.masodik h2 {
    grid-area: mh2;
}

.masodik img {
    grid-area: mimg;
    max-width: 100%;
}

.masodik p {
    grid-area: mp;
}

.srces {
    text-align: left;
    margin-left: 0vw;
    display: grid;
    grid-template-columns: auto;
    font-size: 15px;
}

footer {
    display: block;
}

footer p {
    margin: 50px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

footer {
    padding-bottom: 10px;
    padding-left: 14vw;
    padding-right: 60vw;
    margin-top: 0;
}

footer h2 {
    font-size: 15px;
}

footer a {
    text-align: left;
    background-color: rgb(13, 122, 31);
    border: solid 3px rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 4px 8px 4px black;
    font-size: 15px;
}

footer a:hover {
    background-color: rgb(14, 218, 48);;
}

@media screen and (max-width:785px){
    footer {
        padding-right: 12vw;
    }
    article {
        padding: 3px;
    }
    .elso {
        text-align: center;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        'eh2 eh2 eh2 eh2 eh2'
        'eimg eimg eimg eimg eimg'
        'ep ep ep ep ep'
        'ep ep ep ep ep'
    }
    .elso img {
        max-width: 100%;
        margin: auto;
    }
    .elso h2 {
        font-size: 25px;
        text-align: center;
        margin: 0 auto;
    }
    .masodik {
        text-align: center;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        'mh2 mh2 mh2 mh2 mh2'
        'mimg mimg mimg mimg mimg'
        'mp mp mp mp mp'
        'mp mp mp mp mp'
    }
    .masodik img {
        max-width: 100%;
    }
    .masodik h2 {
        font-size: 25px;
        margin: 0 auto;
    }
}