/* Csaba CSS:*/
* {
    box-sizing: border-box;
}
#okok_body {
    background-color: rgb(94, 168, 100);
    margin: 0px;

    font-family: "Montserrat", sans-serif;
    text-align: center;
}
#okok_h1 {
    background-color: rgb(253, 212, 151);
    border: 2px solid gray;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 4vw
}
#okok_nav {
    background-color: rgb(185, 149, 95);
    border: 2px solid gray;
    padding: 20px;
    margin-bottom: 0px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.okok_a {
    background-color: rgb(253, 212, 151);
    padding: 10px;
    margin: 0px;
    border: 2px solid black;
}
#okok_article {
    border: 2px solid gray;
    color: white;
}
.okok_section {
    display: grid;
    grid-template-columns: 5fr 8fr;
    margin: 10px;
    background-color: darkgreen;
    border: 2px solid black;
}
.okok_section_2 {
    display: grid;
    grid-template-columns: 8fr 5fr;
    margin: 10px;
    background-color: darkgreen;
    border: 2px solid black;
}
.okok_section_kep_1 {
    

    margin:10px;
}
.okok_section_szöveg_1 {
    border: 2px solid black;

    margin:10px;
}
.okok_section_kep_2 {
    

    margin:10px;
}
.okok_section_szöveg_2 {
    border: 2px solid black;

    margin:10px;
}
.okok_section_0 {
    margin: 10px;
    background-color: darkgreen;
    border: 2px solid black;
}
.okok_kep {
    width: 100%;
    border: 2px solid black;
}
.nagy{
    font-size: 50px;
    font-weight: bold;
    border: 2px solid black;
    margin: 0px;
}
@media screen and (max-width:650px) {
    #okok_body {
        margin: 0px;
    }
    #okok_h1 {
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 30px;
    }
    #okok_nav {
        padding: 20px;
        margin-bottom: 10px;
    
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 0px;
    }
    @media screen and (max-width:550px) {
        .okok_section {
            grid-template-columns: 1fr;
        }
        .okok_section_2 {
            grid-template-columns: 1fr;
        }
        #okok_nav {
            grid-template-columns: repeat(3, 1fr);
        }
        #okok_article {
            font-size: 25px;
        }
    }
}